main {
    margin: 60px;
    font-family: 'Varela Round', sans-serif;
}
header {
    width: 50%;
    margin: auto;
}
.judul{
    background-image: linear-gradient(35deg, #24C6DC, #514A9D);
}
.judul h1{
    color: white;
    text-align: center;
    font-size: 3vw;
}

img {
    max-width: 100%;
    height: auto;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    margin-top: 15px;
}
img:hover {
    transform: scale(1.1);
}
hr {
    max-width: 100%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    color: #212529;
    text-align: center;
}
h3 span {
    color: #0077B8;
}
header p {
    text-align: center;
}

.contents {
    width: 70%;
    margin: auto;
}
.contents p {
    text-align: #333333;
}
.contents ul {
    color: #333333;
}
.contents li {
    margin: 16px 0px;
}

footer {
    background-color: #c4c4c4;
    width: 100%;
    height: 100px;
    font-family: 'Varela Round', sans-serif;
}

footer p {
    width: 60%;
    text-align: center;
    padding-top: 50px;
    margin: auto;
}